:host {
  font-family: sans-serif;
  border: 2px solid var(--color-primary, black);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

form input {
  font: inherit;
  color: var(--color-primary, black);
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary, black);
  background: var(--color-primary, black);
  color: white;
  cursor: pointer;
}

form button:hover,
form button:active {
  background: var(--color-primary-highlight, black);
  border-color: var(--color-primary-highlight, black);
}

form button:disabled {
  background: #ccc;
  border-color: #ccc;
  color: white;
  cursor: not-allowed;
}
